.button0 {
position: absolute;
height: 57px;
width: 488
px;
left: 3px;
top: 271px;
}
.btncolor0 {
background-color: #beb58e;
color: #000000;
}
.text1 {
position: absolute;
height: 111px;
width: 231
px;
color: #9bc41e;
left: 3px;
top: 126px;
}
.text2 {
position: absolute;
height: 108px;
width: 227
px;
color: #3a41ad;
left: 5px;
top: 6px;
}
.image3 {
position: absolute;
height: 259px;
width: 249
px;
left: 248px;
top: 5px;
}
