.text0 {
position: absolute;
height: 100px;
width: 100
px;
color: #181FF0;
left: 210px;
top: 210px;
}
.button1 {
position: absolute;
height: 100px;
width: 100
px;
left: 600px;
top: 525px;
}
.btncolor1 {
background-color: #000000;
color: #FFFFFF;
}
.image2 {
position: absolute;
height: 100px;
width: 100
px;
left: 100px;
top: 200px;
}
.image3 {
position: absolute;
height: 100px;
width: 100
px;
left: 100px;
top: 320px;
}
.text4 {
position: absolute;
height: 100px;
width: 100
px;
color: #000000;
left: 310px;
top: 390px;
}
.text5 {
position: absolute;
height: 100px;
width: 100
px;
color: #056E25;
left: 525px;
top: 70px;
}
.button6 {
position: absolute;
height: 100px;
width: 100
px;
left: 700px;
top: 625px;
}
.btncolor6 {
background-color: #181FF0;
color: #ffffff;
}
